<html>
<link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.png') }}" />
<link rel='mask-icon' href="{{ url_for('static', filename='favicon.svg') }}" color='orange'>

<head>
    <title>Naboris</title>
</head>
<body>
    <h1>Naboris Console</h1>
    <!-- <img src="{{ url_for('video_feed') }}"> -->
    <img src="video_feed">
    {% for label, command in commands.items() %}
    <!-- <button class="command command-{{ command }}" value="{{ command }}"> -->
    <button class="command_button {{ command }}" value="{{ command }}">
        {{ label }}
    </button>
    {% endfor %}
</body>

<script type=text/javascript src="{{ url_for('static', filename='naboris.js') }}"></script>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">

</html>
