<html>
<link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.png') }}" />
<link rel='mask-icon' href="{{ url_for('static', filename='favicon.svg') }}" color='orange'>

<head>
    <title>Naboris</title>
</head>
<body>
    <h1>Naboris Console</h1>
    <hr>
    <!-- <img src="{{ url_for('video_feed') }}"> -->
    <img src="video_feed">

    <div class="buttons">
        <div class="drive_buttons">
            {% for label, command, id, group in commands.get_group("command_button drive") %}
            <button id="{{ id }}" class="{{ group }} {{ command }}" value="{{ command }}">
                {{ label }}
            </button>
            {% endfor %}
        </div>

        <div class="toggle_buttons">
            {% for label, command, id, group in commands.get_group("command_button toggles") %}
            <button id="{{ id }}" class="{{ group }} {{ command }}" value="{{ command }}">
                {{ label }}
            </button>
            {% endfor %}
        </div>

        <div class="speak_buttons">
            {% for label, command, id, group in commands.get_group("command_button speak") %}
            <button id="{{ id }}" class="{{ group }} {{ command }}" value="{{ command }}">
                {{ label }}
            </button>
            {% endfor %}
        </div>
    </div>
</body>

<script type=text/javascript src="{{ url_for('static', filename='naboris.js') }}"></script>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">

</html>
